HEP_USERNAME='<username>'
HEP_PASSWORD='<password>'
HEP_OIB='<OIB>'
HEP_OMM='ALL'

## uncomment to prevent scraping current month data from HEP site and just use local files
# HEP_OFFLINE=1

# month from which to start getting HEP data
START_MONTH='03.2023'

# day from which HEP started new billing
START_DAY='2023-03-14'
